{:paths ["src"]
 :deps
 {org.clojure/clojure
  {:mvn/version "1.11.1"}
  org.clojure/data.json
  {:mvn/version "2.4.0"}
  java-http-clj/java-http-clj
  {:mvn/version "0.4.3"}
  lambdaisland/uri
  {:mvn/version "1.13.95"}}
 :aliases
 {:build
  {:deps
   {io.github.liquidz/build.edn
    {:git/tag "0.9.194"
     :git/sha "8e36200"}}
   :ns-default build-edn.main}
  :check
  {:extra-deps
   {io.github.athos/clj-check
    {:git/tag "0.1.0"
     :git/sha "0ca84df"}}
   :main-opts ["-m" "clj-check.check"]}
  :test
  {:extra-deps
   {com.gfredericks/vcr-clj
    {:mvn/version "0.4.22"}
    lambdaisland/kaocha
    {:mvn/version "1.79.1270"}
    nubank/matcher-combinators
    {:mvn/version "3.8.3"}}
   :extra-paths ["test"]
   :exec-fn     kaocha.runner/exec-fn}
  :watcher
  {:exec-args
   {:watch? true}
   :extra-deps
   {org.slf4j/slf4j-nop
    {:mvn/version "2.0.6"}}}}}
